@media (max-width:992px) {

 .img-embed {
    height: 450px;
  }

  .social-area {
    padding-top: 30px;
}

.nav-drop {
    box-shadow: none;
}

.nav-drop .dropdown-item:hover {
   color: #e6c462;
   background: #222221;
}

.nav-drop .dropdown-item.active {
    color: #e6c462;
    background: #222221;
 }

}

@media (max-width:767px) {
    .dr-pic {
        padding: 20px;
    }

    .img-embed {
        height: 400px;
      }
    
      .bf-foot p {
        font-size: 15px;
     }
}