@media (max-width:992px) {

 .img-embed {
    height: 450px;
  }

  .social-area {
    padding-top: 30px;
}

.nav-drop {
    box-shadow: none;
}

.nav-drop .dropdown-item:hover {
   color: #e6c462;
   background: #222221;
}

.nav-drop .dropdown-item.active {
    color: #e6c462;
    background: #222221;
 }

 .navbar .navbar-nav .nav-item.active .nav-link {
  color: #e6c462;
}

.navbar .navbar-nav .nav-item:hover .nav-link {
  color: #e6c462;
  /* border-bottom: 2px solid #0c6e0c; */
}

 .btn-bus {
  color: white;
  border: 1px solid #106810;
  text-transform: uppercase;
  border-radius: 0px;
  font-size: 15px;
  font-weight: 500;
  background-color: #106810;
  font-family: 'Poppins', sans-serif;
  padding: 9px 20px;
  transition:all 0.8s, color 0.3s 0.3s;
} 

.btn-bus:hover {
  color: #106810 !important;
  background: white !important;
  box-shadow:300px 0 0 0 white inset;
  border: 1px solid white !important;
}

}

@media (max-width:767px) {
    .dr-pic {
        padding: 20px;
    }

    .img-embed {
        height: 400px;
      }
    
      .bf-foot p {
        font-size: 15px;
     }

     .float{
        bottom:20px;
        left:20px;
     }

     .last-service {
    padding: 40px 5px !important;
    }

    .team-content.with-mt {
      margin-top: 30px;
    }

    .event-info h6 {
      font-size: 15px;
    }

    .eventshow-desc p {
      font-size: 15px;
    }

    .contact-det-area .contact-card {
      height: auto;
    }

}